.select2 {
    width: 100% !important;
    height: 34px !important;
}

.select2-container .select2-selection--single {
    height: 34px !important;
    border-radius: 0;
}

.error {
    color: red;
}

.btn-add{
    text-align: right;
    margin-bottom: 5px;
    margin-top: -45px;
}
.btn-add a{
    position: relative;
}
label.error{
    font-weight: normal;
}
.treeview-menu>li{
    margin-left: 15px;
}
.alert-info-custom{
    color: #31708f;
    background-color: white;
    border-color: #bce8f1;
    border: 1px dashed;
    margin: 4px;
    padding: 10px;
}
.table-checkbox{
    width: 25px;
}
.table-data{
    margin-bottom: 0!important;
}
.table-content{
    overflow-x: auto;
}

.checkbox-calendar + label{
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding: 0;
    color: transparent;
    user-select: none;
}
.td-calendar.active {
    background: #0b93d5!important;
    transition: outline 0.6s linear;
}
.legend-calendar-active{
    color: #0b93d5;
}
.td-calendar.active:hover{
    opacity: 0.8;
}
.td-calendar:hover{
    background: whitesmoke;
    color: transparent;
}
.td-calendar{
    padding: 0!important;
    vertical-align: middle!important;
    cursor: pointer;
    margin: 0;
    transition: inline 0.6s linear;
    /*background: rgba(211, 211, 211, 0.62);*/
}

.td-calendar.disabled{
    cursor: not-allowed;
}
.td-calendar.disabled.active{
    background: #6bc429 !important;
}
.legend-calendar-approve{
    color: #6bc429;
}

.checkbox-calendar:disabled + label{
    cursor: not-allowed;
}
.selectpicker.btn-default{
    background: #fff;
}
.btn-purple{
    background: purple;
    color: white;
    border: #760076;
}
.btn-purple:hover{
    background: #600060;
    color: white;
}
.box-title-custom {
    background: linear-gradient(#48b1bf, #48b1bf);
    height: 35px !important;
    display: flex!important;
    color: white!important;
    padding-left: 15px!important;
}
.box-title-custom label{
    font-weight: normal;
    margin: auto 0;
}
.box-custom{
    border: none!important;
}
.table-middle>thead>tr>th, .table-middle>tbody>tr>td{
    vertical-align: middle!important;
}
a.disabled{
    cursor: not-allowed;
    opacity: .65;
}
.skin-blue .main-header .navbar,
.skin-blue .main-header li.user-header{
    background: #EF6D11;
}
.skin-blue .main-header .logo{
    background: #db5f0d;
}
.skin-blue .main-header .logo:hover{
    background: #e2600d;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background: #db5f0d;
}
.skin-blue .sidebar-menu>li.active>a{
    border-left-color: #EF6D11;
}

.my_text_bold {
    font-weight: bold;
}

.my_font_16 {
    font-size: 16px;
}
.skin-blue .sidebar-menu>li.header{
    color: lightyellow;
    text-transform: uppercase;
}
.skin-blue .sidebar-menu>li.header>b{
   font-weight: 500;
}

.my_label_radio {
    cursor: pointer; margin: 3px
}

.my_text_center {
    text-align: center !important;
    vertical-align: middle !important;
}

.my_font_bold {
    font-size: 17px;
    font-weight: bold !important;
}

.table-content th{
    color: white;
    background: linear-gradient(#FC575E, #F7B42C);
    border-left: 1px solid  rgba(252, 87, 94, 0.87) !important;
    border-right: 1px solid rgba(242, 130, 30, 0.5) !important;
    border-top: 1px solid #f2821e !important;
    border-bottom: 1px solid #f2821e !important;
}
.table-content td{
    border: 1px solid lightgrey!important;
}
.datepicker:read-only, .datepicker-today:read-only{
    background: white!important;
}
.fa-level-2-sidebar{
    font-size: 12px!important;
}
hr.divider{
    text-align: center!important;
    /*width: 60%!important;*/
    margin: 10px 0!important;
}
.box-business-employee .bg-whitesmoke{
    min-height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
.div-bottom-right{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input.switch-direction:checked + .slider {
    background-color: #29BA21;
}

input.switch-direction:focus + .slider {
    box-shadow: 0 0 1px #29BA21;
}

input.switch-direction:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.my_mar_3 {
    margin: 3px;
}

.calendar-log-element{
    float: right;
    margin-top: -10px;
}
.calendar-log-element.non-display{
    color: transparent!important;
    user-select: none!important;
    cursor: default!important;
}
.title-kpi-config{
    text-align: center;
    margin-top: 0;
    margin-bottom: -30px;
}
.skin-blue .wrapper{
    overflow-y: hidden!important;
}
.table-contact-allocation td{
    vertical-align: middle!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    color: black;
}

.form-search-marketing {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}
