.no-padding-right{
    padding-right: 0!important;
}
.no-padding-left{
    padding-left: 0!important;
}
.no-padding-top{
    padding-top: 0!important;
}
.no-padding-bottom{
    padding-bottom: 0!important;
}
.no-margin-left{
    margin-left: 0!important;
}
.no-margin-right{
    margin-right: 0!important;
}
.no-margin-top{
    margin-top: 0!important;
}
.no-margin-bottom{
    margin-bottom: 0!important;
}
.text-middle{
    vertical-align: middle!important;
}
.table-border-left{
    border-left: solid #0000009c!important;
}
.table-border-right{
    border-right: solid #0000009c!important;
}
.table-border-top{
    border-top: solid #0000009c!important;
}
.table-border-bottom{
    border-bottom: solid #0000009c!important;
}
.table-all-border{
    border: solid #0000009c!important;;
}
.no-wrap{
    white-space: nowrap!important;
}
.bg-whitesmoke{
    background: whitesmoke;
}